@font-face {
    font-family: "Montserrat";
    src: url(../fonts/montserrat/Montserrat-Regular.otf);
}
* {
    margin: 0;
    padding:0;
}
h1 {
    text-align:center;
    font-family: "Roboto Condensed";
    color: #666;
    margin: 100px auto 30px;
}
img {
    width: 80px;
}
.container {
    margin: 0px auto;
    overflow:hidden;
}
nav {
    text-align: end;
}
.username, .password, button {
    display: inline-block;
    position: relative;
    color: #666;
}
.username label, .password label, .login button {
    font-family: Arial, Helvetica, sans-serif;
}
.ket {
    position: absolute;
    left: 85px;
    top: 20px;
    color: #aaa;
}
.logout {
    display: none;
}
.styling {
    /* display: flex; */
    display: none;
    flex-direction: row;
    justify-content: end;
    color: #666;
}
.setting select, .login input {
    color: #666;
}
.setting {
    margin-right:15px;
}
.setting:first-child {
    background-color: rgba(222, 184, 135, 0.493);
}
.setting .segel {
    font-style: italic;
    text-decoration: red underline overline line-through wavy;
}
.icons {
    height: 50vh;
    background-image: url(../imgs/gateTop.jpg);
    background-size: contain;
}
.icons ul {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}
.icons a {
    text-decoration: none;
}
.icons picture {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform-style: preserve-3d;
    padding: 5px;
    transition: .4s;
}
.icons picture:hover.sisi {
    border: 3px solid rgba(222, 184, 135, 0.514);
}
.icons picture:hover {
    border: none;
}
.icons a:hover img {
    transform: translateZ(25px);
}
.icons img.hilang {
    display: none;
}
.icons figcaption {
    font-size: larger;
    opacity:.4;
    transition: 1s;
    text-shadow: 1px 1px 1px black;
}
.icons a:hover figcaption {
    transform: translate3d(0,0,15px);
    opacity: 1;
}
.icons figcaption.berem {
    color: burlywood;
}
.icons figcaption.badag {
    text-transform: uppercase;
}
.tanggal {
    text-align: center;
}
footer {
    color: white;
    font-family: 'Montserrat';
    font-weight: 500;
    margin-top: 1px;
    padding: 20px 150px;
    background-image: url(../imgs/gateTop.jpg);
}