@font-face {
    font-family: "Montserrat";
    src: url(../fonts/montserrat/Montserrat-Regular.otf);
}
* {
    margin: 0;
    padding:0;
}
h1 {
    text-align:center;
    font-family: "Roboto Condensed";
    color: #666;
}
img {
    width: 80px;
}
.container {
    margin: 100px auto;
    background-color: white;
}
.styling {
    display: flex;
    flex-direction: row;
    justify-content: end;
}
.setting {
    margin-right:15px;
}
.setting:first-child {
    background-color: rgba(222, 184, 135, 0.493);
}
.icons {
    height: 50vh;
    background-image: url(../imgs/gateTop.jpg);
    background-size: contain;
}
.icons ul {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}
.icons a {
    text-decoration: none;
}
.icons picture {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform-style: preserve-3d;
    padding: 5px;
    transition: .4s;
}
.icons picture:hover {
    border: none;
}
.icons a:hover img {
    transform: translateZ(25px);
}
.icons figcaption {
    font-size: larger;
    opacity:.4;
    transition: 1s;
    text-shadow: 1px 1px 1px black;
}
.icons a:hover figcaption {
    transform: translate3d(0,0,15px);
    opacity: 1;
}
.icons figcaption.berem {
    color: burlywood;
}
.icons figcaption.badag {
    text-transform: uppercase;}

footer {
    color: white;
    font-family: 'Montserrat';
    font-weight: 500;
    margin-top: 1px;
    padding: 20px 150px;
    background-image: url(../imgs/gateTop.jpg);
}